[TYPECHECK]
ignored-modules=numpy,carla,pygame,agents
disable=logging-format-interpolation,locally-disabled,cyclic-import,too-many-instance-attributes,invalid-name,no-else-return,too-many-statements

[SIMILARITIES]
min-similarity-lines=20
