Source: carla-ros-bridge
Section: misc
Priority: optional
Maintainer: Carla Simulator Team <carla.simulator@gmail.com>
Build-Depends: debhelper (>= 9)
Standards-Version: 4.1.2
Homepage: https://github.com/carla-simulator/ros-bridge

Package: carla-ros-bridge
Architecture: amd64
Depends: ros-${ROS_DISTRO}-roslaunch,
	ros-${ROS_DISTRO}-catkin,
	ros-${ROS_DISTRO}-rclpy,
	ros-${ROS_DISTRO}-nav-msgs,
	ros-${ROS_DISTRO}-ackermann-msgs,
	ros-${ROS_DISTRO}-std-msgs,
	ros-${ROS_DISTRO}-dynamic-reconfigure,
	ros-${ROS_DISTRO}-topic-tools,
	ros-${ROS_DISTRO}-sensor-msgs,
	ros-${ROS_DISTRO}-message-runtime,
	ros-${ROS_DISTRO}-geometry-msgs,
	ros-${ROS_DISTRO}-message-generation,
	ros-${ROS_DISTRO}-visualization-msgs,
	ros-${ROS_DISTRO}-tf,
	ros-${ROS_DISTRO}-tf2,
	ros-${ROS_DISTRO}-rviz,
	ros-${ROS_DISTRO}-cv-bridge,
	ros-${ROS_DISTRO}-rosbag-storage,
	ros-${ROS_DISTRO}-derived-object-msgs,
	ros-${ROS_DISTRO}-shape-msgs,
	ros-${ROS_DISTRO}-tf2-msgs,
	ros-${ROS_DISTRO}-rosgraph-msgs,
	ros-${ROS_DISTRO}-roscpp,
	ros-${ROS_DISTRO}-pcl-conversions,
	ros-${ROS_DISTRO}-pcl-ros,
	ros-${ROS_DISTRO}-rostopic,
	ros-${ROS_DISTRO}-rqt-gui-py
Description: The carla_ros_bridge package aims at providing a simple ROS bridge for CARLA simulator.
