<!-- -->
<launch>
  <arg name="role_name" default="ego_vehicle"/>
  <arg name="objects_definition_file" default='$(find carla_spawn_objects)/config/objects.json'/>
  <!-- use comma separated format "x,y,z,roll,pitch,yaw", 
    and parameter name spawn_point_<vehicle_name>. You can add
    as many spawn_point as vehicles defined in objects_definition_file-->
  <!-- <arg name="spawn_point_ego_vehicle" default='390.0,-87.0,0.3,0.0,0.0,90.0'/> -->
  <arg name="spawn_point_ego_vehicle" default=''/>
  <arg name="spawn_sensors_only" default="false"/>

  <arg name="control_id" default="control"/>

  <include file="$(find carla_spawn_objects)/launch/carla_spawn_objects.launch">
    <arg name="objects_definition_file" value='$(arg objects_definition_file)'/>
    <arg name="spawn_point_ego_vehicle" value="$(arg spawn_point_ego_vehicle)"/>
    <arg name="spawn_sensors_only" value="$(arg spawn_sensors_only)" />
  </include>

  <!-- This nodes allows to respawn the vehicle <role_name> by publishing on topic /initialpose -->
  <include file="$(find carla_spawn_objects)/launch/set_initial_pose.launch">
    <arg name="role_name" value="$(arg role_name)"/>
    <arg name="control_id" value="$(arg control_id)"/>
  </include>
</launch>
