<!-- -->
<launch>
  <arg name="host" default="localhost"/>
  <arg name="port" default="2000"/>
  <arg name="role_name" default="ego_vehicle"/>
  <arg name="scenario_runner_path"/>
  <arg name="wait_for_ego" default="True"/>

  <node pkg="carla_ros_scenario_runner" type="carla_ros_scenario_runner_node.py" name="carla_ros_scenario_runner" output="screen" required="true">
    <param name="host" value="$(arg host)"/>
    <param name='port' value='$(arg port)'/>
    <param name="scenario_runner_path" value="$(arg scenario_runner_path)"/>
    <param name="wait_for_ego" value="$(arg wait_for_ego)"/>
  </node>

</launch>
