<!-- -->
<launch>
  <arg name="host" default="localhost"/>
  <arg name="port" default="2000"/>
  <arg name="role_name" default="ego_vehicle"/>
  <arg name="scenario_runner_path"/>
  <arg name='available_scenarios_dir' default="$(find carla_ros_scenario_runner)/config"/>
  <arg name='available_scenarios_json' default="$(find carla_ros_scenario_runner)/config/example_scenarios.json"/>
  <arg name="wait_for_ego" default="True"/>
  
  <node pkg="carla_ros_scenario_runner" type="carla_ros_scenario_runner.py" name="carla_ros_scenario_runner" output="screen" required="true">
    <param name="host" value="$(arg host)"/>
    <param name='port' value='$(arg port)'/>
    <param name="role_name" value="$(arg role_name)"/>
    <param name="scenario_runner_path" value="$(arg scenario_runner_path)"/>
    <param name="available_scenarios_dir" value="$(arg available_scenarios_dir)"/>
    <param name="available_scenarios_json" value="$(arg available_scenarios_json)"/>
    <param name="wait_for_ego" value="$(arg wait_for_ego)"/>
  </node>

</launch>
