<!-- -->
<launch>
  <arg name="actors_definition_file" default='$(find carla_spawn_actors)/config/actors.json'/>
  <!-- use comma separated format "x,y,z,roll,pitch,yaw", 
    and parameter name spawn_point_<vehicle_name>. You can add
    as many spawn_point as vehicles defined in actors_definition_file-->
  <arg name="spawn_point_ego_vehicle"/>
  <arg name="spawn_sensors_only" default="false"/>

  <node pkg="carla_spawn_actors" type="carla_spawn_actors.py" name="$(anon carla_spawn_actors)" output="screen">
    <param name="actors_definition_file" value="$(arg actors_definition_file)" />
    <param name="spawn_point_ego_vehicle" value="$(arg spawn_point_ego_vehicle)" />
    <param name="spawn_sensors_only" value="$(arg spawn_sensors_only)" />
  </node>
</launch>
