<!-- -->
<launch>
  <arg name='host' default='localhost'/>
  <arg name='port' default='2000'/>
  <arg name='timeout' default='10'/>
  <arg name="vehicle_filter" default="vehicle.*" />
  <arg name="sensor_definition_file"/>
  <arg name="role_name" default="ego_vehicle"/>
  <!-- use comma separated format "x,y,z,roll,pitch,yaw" -->
  <arg name="spawn_point" default=""/>
  <arg name="remap_rviz_initialpose_goal" default="True"/>
  <arg name="spawn_ego_vehicle" default="True" />

  <param name="/carla/host" value="$(arg host)" />
  <param name="/carla/port" value="$(arg port)" />
  <param name="/carla/timeout" value="$(arg timeout)" />

  <!-- 
    If enabled, remap topics to support setting initialpose and goal with RVIZ

    This does not work for multiple ego-vehicles.
  -->
  <group if="$(eval remap_rviz_initialpose_goal)">
    <node pkg="topic_tools" type="relay" name="goal_relay_$(arg role_name)" args="/move_base_simple/goal /carla/$(arg role_name)/goal"/>
    <node pkg="topic_tools" type="relay" name="initialpose_relay_$(arg role_name)" args="/initialpose /carla/$(arg role_name)/initialpose"/>
  </group>

  <node pkg="carla_ego_vehicle" type="carla_ego_vehicle.py" name="carla_ego_vehicle_$(arg role_name)" output="screen">
    <param name="sensor_definition_file" value="$(arg sensor_definition_file)" />
    <param name="vehicle_filter" value="$(arg vehicle_filter)" />
    <param name="spawn_point" value="$(arg spawn_point)" />
    <param name="role_name" value="$(arg role_name)" />
    <param name="spawn_ego_vehicle" value="$(arg spawn_ego_vehicle)" />
  </node>
</launch>
