<!-- -->
<launch>
  <arg name='host' default='localhost'/>
  <arg name='port' default='2000'/>
  <arg name='role_name' default='ego_vehicle'/>

  <!-- enable autopilot -->
  <node pkg="rostopic" type="rostopic" name="enable_autopilot_rostopic"
        args="pub -l /carla/$(arg role_name)/enable_autopilot std_msgs/Bool '{ data: true}' " />

  <!-- pcl map capturing -->
  <node pkg="pcl_recorder" type="pcl_recorder_node" name="pcl_recorder_node" output="screen">
    <param name="role_name" value="$(arg role_name)" />
  </node>

  <!-- common -->
  <include file="$(find carla_ros_bridge)/launch/carla_ros_bridge_with_example_ego_vehicle.launch">
      <arg name='host' default='$(arg host)'/>
      <arg name='port' default='$(arg port)'/>
      <arg name="role_name" value="$(arg role_name)" />
  </include>

</launch>

